BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeParens: ControlStatements
